language: ruby
sudo: false
cache: bundler
before_install:
  - gem install bundler --pre
install:
  - bundle update
rvm:
  - rbx-2
  - jruby
  - jruby-head
  - 1.9.3
  - 2.0.0
  - 2.1.1
  - 2.2.2
  - 2.3.5
  - 2.4.2
  - ruby-head
branches:
  only:
    - master
matrix:
  allow_failures:
    - rvm: rbx-2
    - rvm: jruby
    - rvm: jruby-head
    - rvm: ruby-head
